.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #FFFFFF;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(33, 49, 136);
}

.App-body {
  background-color: #FFFFFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(33, 49, 136);
}

.App-link {
  color: #656968;
}

.App-button {
  font-size: calc(10px + 2vmin);
}
